/*Import custom fonts*/
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400italic);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300);

/***DISPLAY***/

* {margin: 0px; padding: 0px;}

html {
	background-image: url('../images/wall5.jpg');
	min-height: 100%;
	background-size: cover;
}

#topbar {
	min-width: 100%;
	height: 75px;
	background-color:#2C2C2C;
	box-shadow: 0 6px 5px #131313;
	position: fixed;
}

#nameholder {
	position: absolute;
	display: inline-block;
	float: right;
	right: 2.3%;
	top: 21%;
	text-decoration: none;
	color: white;
	width: 270px;
}

/*Navigation Bar*/
nav {
	width: 760px;
	margin: 0 auto;
	margin-top: 75px;
	right: 0;
	position: absolute;
}

nav ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	width: 25%;
	float:left;
}

nav ul li a {
	display: block;
	width: 100%;
	text-align: center;
	padding: 8px 0;
	color: white;
	text-decoration: none;
	background: #606060;
	border-left: 2px solid #028ED9;
	font: 24px 'Yanone Kaffeesatz', sans-serif;
	transition: all 0.1s;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

nav ul a:hover {
	padding-left: 7px;
	background-color: grey;
	font-style: italic;
}

/***CONTAINER***/

/*Desc*/
#container {
	min-height: 900px;
    max-width: 1200px;
    width: auto;
    height: auto;
    margin: 0 auto;
    background: white;
    position: relative;
    z-index: -1;
    box-shadow: 0 5px 5px rgba(20,20,20,0.8);
    background: url('../images/brilliant.png');
}

#textwrapper {
    max-width: 700px;
    max-height: 650px;
    position: absolute;
    margin: 200px 0 75px 45px;
    overflow: auto;
}

h1 {
    font-family: 'Lobster Two', sans-serif;
    font-style: italic;
    color: rgba(60,60,60,1);
    font-size: 72px;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    text-align: left;
}

.intro { color: rgba(120, 120, 120, 1); }

/*Picture*/
#pic {
	border-radius: 15px;
	border-style: dashed;
	position: absolute;
	right: -80px;
	width: 400px;
	height: 500px;
	top: 200px;
	box-shadow: -5px 5px 5px rgba(0,0,0,.5);
}

@media (max-width: 1200px) {
	#textwrapper {
		width: 
	}
}