<!DOCTYPE html>
<html>
	<head>
		<title>JavaScript Sandbox</title>
		<link rel="shortcut icon" href="images/webicon_s.png">
	</head>
	<body ng-app>
		<div>
			<input ng-model="name" placeholder="Type in name"></input>
			<br />
			<p> Hello {{ name }} </p>
		</div>

		<a ng-click="shouldShowDiv = !shouldShowDiv">Show content below</a>
		<div ng-show="shouldShowDiv">This div will be shown only if <em>shouldShowDiv</em> is true</div>
		<div ng-hide="shouldShowDiv">This div will be hidden if <em>shouldShowDiv</em> is not true</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script> 
	</body>
</html>